<template>
    <base-section id="products">
        <base-section-heading
            color="grey lighten-2"
            icon="mdi-vuetify"
            title="Nuestros productos"
        />

        <v-container>
            <v-row>
                <v-col v-for="card in cards" :key="card.title" cols="12" md="4">
                    <base-info-card v-bind="card" />
                </v-col>
            </v-row>
        </v-container>
    </base-section>
</template>

<script>
export default {
    name: "SectionAboutOurProduct",

    data: () => ({
        cards: [
            {
                icon: "mdi-account-group-outline",
                title: "Préstamos, Divisas y Cheques",
                callout: "01",
                text:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam"
            },
            {
                icon: "mdi-bank",
                title: "Sistema Financiero",
                callout: "02",
                text:
                    "Sed ut elementum justo. Suspendisse non justo enim. Vestibulum cursus mauris dui, a luctus ex blandit. Lorem ipsum dolor sit amet consectetur adipisicing elit. qui ipsum eveniet facilis obcaecati corrupti consectetur adipisicing elit."
            },
            {
                icon: "mdi-compare",
                title: "Sistema de Cáculo de Estructura",
                callout: "03",
                text:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam"
            },
            {
                icon: "mdi-account-group",
                title: "Club SPA",
                callout: "04",
                text:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam"
            },
            {
                icon: "mdi-cards-club",
                title: "Otras Soluciones",
                url: "porem-ipsum",
                callout: "05",
                text:
                    "Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cupiditate sint possimus quidem atque harum excepturi nemo velit tempora! Enim inventore fuga, qui ipsum eveniet facilis obcaecati corrupti asperiores nam"
            }
        ],
        products: [
            {
                title: "Grow your Revenue",
                subtitle: "Best Productivity",
                text:
                    "Similique sunt in culpa qui officia deserunt mollitia animi, id est laborut dolorum fuga.harum quidem rerum facilis estexpedita distinctio.",
                callout: "01"
            },
            {
                title: "Affordable Prices",
                subtitle: "Special Offers",
                text:
                    "Similique sunt in culpa qui officia deserunt mollitia animi, id est laborut dolorum fuga.harum quidem rerum facilis estexpedita distinctio.",
                callout: "02"
            },
            {
                title: "Target Setting",
                subtitle: "Income Flow",
                text:
                    "Similique sunt in culpa qui officia deserunt mollitia animi, id est laborut dolorum fuga.harum quidem rerum facilis estexpedita distinctio.",
                callout: "03"
            }
        ]
    })
};
</script>
