<template>
    <v-theme-provider dark>
        <base-section id="contact-us" class="primary" space="40">
            <v-container>
                <v-row justify="center">
                    <v-col cols="10">
                        <base-title
                            :space="$vuetify.breakpoint.mdAndUp ? 0 : 4"
                            title="¿Alguna pregunta? ¡Contactanos!"
                        />

                        <base-body space="0">
                            <span class="white--text">
                                PARAMETRIZASR MENSAJE CON FIREBASE | Aquí va
                                texto random que se podría parametrizar | Aquí
                                va texto random que se podría parametrizar |
                                Aquí va texto random que se podría parametrizar
                                | Aquí va texto random que se podría
                                parametrizar |
                            </span>
                        </base-body>
                    </v-col>

                    <v-col cols="12" md="2">
                        <base-btn
                            :block="$vuetify.breakpoint.smAndDown"
                            color="white"
                            href="mailto:info@infosurrd.com?subject=Solicitud%20de%20Información"
                            large
                            outlined
                            target="_blank"
                        >
                            Envíar e-mail
                        </base-btn>
                    </v-col>
                </v-row>
            </v-container>
        </base-section>
    </v-theme-provider>
</template>

<script>
export default {
    name: "SectionContactUs"
};
</script>
