<template>
    <base-section
        id="keep-in-touch"
        space="56"
        class="text-center grey darken-4"
    >
        <v-container>
            <v-row justify="space-between">
                <v-col cols="12" md="5">
                    <base-business-info
                        title="Contacta con nosotros"
                        :dark="true"
                    />
                </v-col>
                <v-col cols="12" md="6">
                    <base-contact-form
                        title="Envíanos un correo"
                        :dark="true"
                    />
                </v-col>
            </v-row>
        </v-container>
    </base-section>
</template>

<script>
export default {
    name: "SectionKeepInTouch"
};
</script>
