<template>
    <base-section id="map" space="0">
        <iframe
            allowfullscreen
            aria-hidden="false"
            frameborder="0"
            height="500"
            src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJq6V-EPGJr44RZMEVJ7iHxdY&key=AIzaSyDfntzeyBpBQtyuxa5irblpLVoCW4zomfg"
            style="border:0; display: block;"
            tabindex="0"
            width="100%"
        />
    </base-section>
</template>

<script>
export default {
    name: "SectionMap",

    provide: {
        heading: { align: "center" }
    }
};
</script>
