<template>
    <base-section id="valors">
        <base-section-heading title="Nuestros Valores">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero, in!
            Asperiores, impedit libero. Veniam rerum saepe unde nihil possimus
            quibusdam esse accusamus mollitia magni fuga.
        </base-section-heading>

        <v-container>
            <v-row>
                <v-col
                    v-for="(feature, i) in features"
                    :key="i"
                    cols="12"
                    md="6"
                >
                    <base-avatar-card v-bind="feature" align="left" horizontal>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Veritatis illum veniam cum dolores ratione commodi
                        beatae quas maxime, laboriosam excepturi solut!
                    </base-avatar-card>
                </v-col>
            </v-row>
        </v-container>
    </base-section>
</template>

<script>
export default {
    name: "SectionValors",

    data: () => ({
        features: [
            {
                title: "Seriedad",
                icon: "mdi-fountain-pen-tip"
            },
            {
                title: "Confianza",
                icon: "mdi-cellphone"
            },
            {
                color: "primary",
                dark: true,
                title: "Transparencia",
                icon: "mdi-pencil-box-outline"
            },
            {
                title: "Esfuerzo",
                icon: "mdi-image-size-select-actual"
            },
            {
                title: "Optimización Seo",
                icon: "mdi-ice-pop"
            },
            {
                title: "Soporte 24/7",
                icon: "mdi-help-circle-outline"
            }
        ]
    })
};
</script>
