<template>
    <v-theme-provider dark>
        <base-section id="social" class="accent text-center" space="56">
            <base-icon class="mb-8">
                mdi-twitter
            </base-icon>

            <base-section-heading
                color="transparent"
                title="InfoSurRD en las redes"
                subtitle="PARAMETRIZAR MENSAJE POR FIREBASE"
            />

            <a
                class="d-inline-block mb-8"
                href="https://www.instagram.com/infosurrd"
                style="text-decoration: none;"
                target="_blank"
            >
                https://www.instagram.com/infosurrd
            </a>

            <div class="py-4" />

            <v-btn
                class="font-weight-bold"
                color="white"
                href="https://www.instagram.com/infosurrd"
                light
                min-width="168"
                target="_blank"
                x-large
            >
                Síguenos!

                <v-icon right>
                    mdi-open-in-new
                </v-icon>
            </v-btn>
        </base-section>
    </v-theme-provider>
</template>

<script>
export default {
    name: "SectionNews",

    provide: {
        heading: { align: "center" }
    }
};
</script>
