
<template>
    <v-theme-provider dark>
        <base-section
            id="social-instagram"
            class="text-center grey darken-4"
            space="56"
        >
            <base-icon class="mb-8">
                mdi-instagram
            </base-icon>
            <base-section-heading
                color="transparent"
                title="InfoSurRD en las redes"
                subtitle="PARAMETRIZAR MENSAJE POR FIREBASE"
            />

            <v-responsive class="mx-auto" max-width="1400">
                <v-container fluid>
                    <v-container class="pa-0">
                        <v-row>
                            <v-col v-for="n in 3" :key="n">
                                <base-img
                                    src="https://cde.laprensa.e3.pe/ima/0/0/2/3/6/236919.jpg"
                                    color="grey lighten-1"
                                    width="360"
                                    tile
                                />
                            </v-col>
                        </v-row>
                    </v-container>
                </v-container>
            </v-responsive>
        </base-section>
    </v-theme-provider>
</template>

<script>
export default {
    name: "SectionBusinessInfo"
};
</script>

<style lang="sass">
#social-instagram a
    text-decoration: none
</style>
