// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;
$body-font-family: 'PT Sans', sans-serif;
$heading-font-family: 'Work Sans', sans-serif;

$headings: (
  'h4': (
    'letter-spacing': 0.1875rem,
    'weight': 900
  ),
  'h5': (
    'letter-spacing': 0.1875rem,
    'weight': 700
  ),
  'h6': (
    'letter-spacing': 0.1875rem,
    'size': 1rem,
    'weight': 700
  ),
  'subtitle-1': (
    'letter-spacing': 0.1875rem,
  ),
  'subtitle-2': (
    'letter-spacing': 0.1875rem,
  ),
  'body-1': (
    'size': .9375rem,
  )
);
