<template>
    <div>
        <v-app-bar app color="white" height="100">
            <NuxtLink to="/">
                <v-avatar class="mr-3" color="grey lighten-5" size="70">
                    <v-img
                        contain
                        max-height="70%"
                        src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
                    ></v-img>
                </v-avatar>

                <v-toolbar-title class="font-weight-black headline" href="./">
                    Infosur RD
                </v-toolbar-title>
            </NuxtLink>

            <v-spacer />

            <div>
                <v-tabs class="hidden-sm-and-down" optional>
                    <v-tab
                        v-for="({ title, href, has_submennu, submenu },
                        i) in menus"
                        :key="i"
                        @click="$vuetify.goTo(href)"
                        :ripple="false"
                        active-class="text--primary"
                        class="font-weight-bold"
                        min-width="96"
                        text
                    >
                        <v-menu
                            :open-on-hover="true"
                            :close-on-click="true"
                            :close-on-content-click="true"
                            :offset-y="true"
                        >
                            <template v-slot:activator="{ on }">
                                <v-btn
                                    color="primary"
                                    :text="true"
                                    dark
                                    v-on="on"
                                    v-text="title"
                                    @click="$vuetify.goTo(href)"
                                >
                                </v-btn>
                            </template>
                            <v-list v-if="has_submennu">
                                <v-list-item
                                    v-for="({ title, url }, index) in submenu"
                                    :key="index"
                                    :href="url"
                                >
                                    <v-list-item-title>{{
                                        title
                                    }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-tab>
                </v-tabs>
            </div>

            <v-app-bar-nav-icon
                class="hidden-md-and-up"
                @click="drawer = !drawer"
            />
        </v-app-bar>
        <HomeDrawer v-model="drawer" :menus="menus" />
    </div>
</template>

<script>
import HomeDrawer from "~/layouts/home/Drawer";

export default {
    components: {
        HomeDrawer
    },
    data() {
        return {
            drawer: null,
            menus: [
                {
                    title: "Home",
                    href: "#hero",
                    has_submennu: false
                },
                {
                    title: "Productos",
                    href: "#products",
                    has_submennu: true,
                    submenu: [
                        {
                            title: "Préstamos, Divisas y Cheques",
                            url: "/products/porem-ipsum"
                        },
                        {
                            title: "Sistema Financiero",
                            url: "/products/ped-ut"
                        },
                        {
                            title: "Sistema de Cáculo de Estructura",
                            url: "/products/porem-ipsum"
                        },
                        {
                            title: "Club Socios SPA",
                            url: "/products/porem-ipsum"
                        },
                        {
                            title: "Otras Soluciones",
                            url: "/products/porem-ipsum"
                        }
                    ]
                },
                {
                    title: "Nosotros",
                    href: "#about-me",
                    has_submennu: false
                },
                {
                    title: "Contactar",
                    href: "#contact-form",
                    has_submennu: false
                }
            ]
        };
    }
};
</script>
