<template>
    <div>
        <v-app-bar
            id="home-app-bar"
            app
            color="white"
            height="100"
            elevation="1"
        >
            <v-avatar
                class="mr-3 hidden-xs-only"
                color="grey lighten-5"
                size="70"
            >
                <v-img
                    contain
                    max-height="90%"
                    src="https://cdn.vuetifyjs.com/images/logos/vuetify-logo-dark.png"
                ></v-img>
            </v-avatar>

            <v-toolbar-title class="font-weight-black headline" href="./">
                Infosur RD
            </v-toolbar-title>

            <v-spacer />

            <div>
                <v-tabs class="hidden-sm-and-down" optional>
                    <v-tab
                        v-for="({ title, href, has_submennu, submenu },
                        i) in menu"
                        :key="i"
                        :ripple="false"
                        center-active
                        active-class="text--primary"
                        class="font-weight-bold"
                        min-width="96"
                        text
                    >
                        <v-menu
                            :open-on-hover="true"
                            :close-on-click="true"
                            :close-on-content-click="true"
                            :offset-y="true"
                        >
                            <template v-slot:activator="{ on }">
                                <NuxtLink :to="href" class="routerLink">
                                    <v-btn
                                        color="primary"
                                        :text="true"
                                        dark
                                        v-on="on"
                                        v-text="title"
                                    >
                                    </v-btn>
                                </NuxtLink>
                            </template>
                            <v-list v-if="has_submennu">
                                <v-list-item
                                    v-for="({ title, url }, index) in submenu"
                                    :key="index"
                                    :href="url"
                                >
                                    <v-list-item-title>{{
                                        title
                                    }}</v-list-item-title>
                                </v-list-item>
                            </v-list>
                        </v-menu>
                    </v-tab>
                </v-tabs>
            </div>

            <v-app-bar-nav-icon
                class="hidden-md-and-up"
                @click="drawer = !drawer"
            />
        </v-app-bar>

        <home-drawer v-model="drawer" :menu="menu" />
    </div>
</template>

<script>
export default {
    name: "HomeAppBar",

    components: {
        HomeDrawer: () => import("./Drawer")
    },

    data() {
        return {
            drawer: null,
            menu: [
                {
                    title: "Inicio",
                    href: "/",
                    has_submennu: false
                },
                {
                    title: "Productos",
                    href: "/products",
                    has_submennu: true,
                    submenu: [
                        {
                            title: "Préstamos, Divisas y Cheques",
                            url: "/products/porem-ipsum"
                        },
                        {
                            title: "Sistema Financiero",
                            url: "/products/ped-ut"
                        },
                        {
                            title: "Sistema de Cáculo de Estructura",
                            url: "/products/porem-ipsum"
                        },
                        {
                            title: "Club Socios SPA",
                            url: "/products/porem-ipsum"
                        },
                        {
                            title: "Otras Soluciones",
                            url: "/products/porem-ipsum"
                        }
                    ]
                },
                {
                    title: "Nosotros",
                    href: "/about",
                    has_submennu: false
                },
                {
                    title: "Contactar",
                    href: "/contact",
                    has_submennu: false
                }
            ]
        };
    }
};
</script>

<style lang="sass" scoped>
.routerLink
    text-decoration: none

.home-app-bar
    display: inline
    .v-tabs-slider
        max-width: 24px
        margin: 0 auto

    .v-tab &before
        display: none
</style>
