<template>
    <v-navigation-drawer
        bottom
        color="transparent"
        fixed
        height="auto"
        overlay-color="secondary"
        overlay-opacity=".8"
        temporary
        v-bind="$attrs"
        v-on="$listeners"
    >
        <v-list color="white" shaped>
            <v-list-item
                v-for="({ title, href }, i) in menu"
                :key="i"
                :to="{ href }"
                color="primary"
            >
                <NuxtLink :to="href">
                    <v-list-item-content>
                        <v-list-item-title v-text="title" />
                    </v-list-item-content>
                </NuxtLink>
            </v-list-item>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
export default {
    name: "HomeDrawer",

    props: {
        menu: {
            type: Array,
            default: () => []
        }
    }
};
</script>
